<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="./img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
<link rel="manifest" href="./img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../img/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Admin</title>
  </head>
  <body>
<section class="container ">
  <aside>
    <div class="sidebar-top">
      
      <div class="close" id="close">
        <span class="material-icons-sharp">
          close
          </span>
      </div>
    </div>
    <div id="sidebar" class="sidebar">
      <a href="#" class="active">
        <span class="material-icons-sharp">
            admin_panel_settings
            </span>
          <h3>Admin</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp">
            receipt
            </span>
          <h3>Bills</h3>
      </a>
      <a href="#">
        <span class="material-icons-sharp">
            account_circle
            </span>
            <h3>Users</h3>
      </a>
      <a href="/admin/logout">
          <span class="material-icons-sharp">
            logout
            </span>
            <h3>Sign Out</h3>
        </a>
    </div>
  </aside>
  <main class="mainContent">

    {{!-- <div class="col-three">
        <div class="card">
            <span class="material-icons-sharp">
                receipt
                </span>
            <h3>Total <span class="text-primary">{{totalFiles}}</span> bills</h3></div>

            <div class="card">
                <span class="material-icons-sharp">
                    bookmark_added
                    </span>
                <h3>Total <span class="text-primary">Saved</span> 0 ₹</h3></div>

                <div class="card">
                    <span class="material-icons-sharp">
                        receipt
                        </span>
                    <h3>Total <span class="text-primary">Users {{totalUsers}}</span></h3></div>
    </div> --}}

    <div class="content">
        <div class="col-two">
            <div><h3 class="title">All Complaints</h3></div>
            <div class="searchform">

                {{!-- <input type="search" name="search" id="search"> --}}
                <input id="user_search" type="text" placeholder="Search here">

                {{!-- <input type="submit" value="Search"> --}}
            </div>
        </div>

      

        <div class="datatable">
          <table>
            <thead>
            <tr>
              {{!-- <th>No</th> --}}
              <th>ProductName</th>
              <th>Warranty</th>
              <th>Issue</th>
              <th>Time Slot</th>
              <th>Address</th>
              {{!-- <th>Saved Ammount</th>
              <th>Sto..h</th> --}}
            </tr>
            </thead>
            <tbody id="users">
                  {{#each records}}
                  <tr>
                    {{!-- <td style=" text-align: left;">{{ @index}}</td> --}}
                    <td  style=" text-align: left;">{{this.product}}</td>
                    <td  style=" text-align: left;">{{this.warranty}}</td>
                    <td  id="fileUserEmail" style=" text-align: left;">{{this.issue}}</td>
                    <td  style=" text-align: left;">{{this.timeslot}}</td>
                    <td  style=" text-align: left;">{{this.address}}</td> 
                    {{!-- <td  style=" text-align: left;"> {{this.filesavedamount}} ₹</td> --}}
                    {{!-- <td style=" text-align: left;">{{this.fileStatus}}</td> --}}
                    {{!-- <td>
                      <select name="fileStatus" id="{{this._id}}">
                        <option value="{{this.filestatus}}">{{this.filestatus}}</option>
                        <option value="Processing">Processing</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Completed">Completed</option>

                    </select>

                    </td> --}}
                  </tr>
                  {{/each}}
                </tbody>

                {{!-- pending,processing,accepted,rejected,completed. --}}

          </table>
        </div>
    </div>
  </main>

  <div class="mobileHeader">
    <div class="logo">
      <img src="./img/logo.png" alt="logo" />
    </div>
    <div class="menutogler" id="menubtn">
      <span class="material-icons-sharp">
        menu
        </span>
    </div>
  </div>
</section>

<script>
            $(document).ready(function() {
                $("#user_search").on("keyup", function() {
                  console.log("Value Changed")
                    var value = $(this).val().toLowerCase();
                    $("#users tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });

                function getComboA(id){
                    console.log(id);
                }


                $("select").on("change", function () {
                  var id = $(this).attr("id");
                  var fileStatus = this.value;
                  $.ajax({
                    url: "/users/updateFileStatus",
                    type: "POST",
                    data: {
                      id: id,
                      fileStatus: fileStatus,
                    },
                    dataType: "json",
                    success: function (result) {
                      console.log(result)
                    },
                  });
        });

            });
        </script>

<script src="/js/main.js"></script>
    </body>
   </html>